*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    color: #000000;
    font-family: poppins;
    justify-content: center;
}
.container{
    background: #F46F45;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}
.title {
    text-align: center;
}
.title span {
    color: #F2EBD3;
}
.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 20px;
    justify-content: space-around;
}

.status span {
    color: rgb(253, 253, 253);
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: #F2EBD3;
}

.game-grid {
    background: #f4c745;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.game-cell {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    background: #F46F45;
}

.x::after {
    content: '×';
    font-size: 200px;
}
  
.o::after {
    content: '○';
    color: #F2EBD3;
    font-size: 225px;
}
.won::after {
    color: #14e448;
  }
  
  @media only screen and (max-width: 1024px) {
    .game-grid {
      margin-top: 25px;
      grid-gap: 10px;
    }
  
    .game-cell {
      height: 150px;
      width: 150px;
    }
  
    .x::after {
      font-size: 150px;
    }
  
    .o::after {
      font-size: 175px;
    }
  }
  
@media only screen and (max-width: 540px) {
    .container {
      margin: 25px;
      padding: 25px;
}
  
    .game-cell {
      height: 100px;
      width: 100px;
    }
  
    .x::after {
      font-size: 100px;
    }
  
    .o::after {
      font-size: 125px;
    }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}






